/* * {
  border: .1px solid red;
} */

body {
  margin: 0;
  padding: 0;
}

#header {
  font-family: helvetica;
  background-color: #ffffff;
  color: #000000;
  background-image: url('./images/background_image_3.png');
  background-size: cover;
  background-position: center;
  background-repeat: none;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.header-logo {
  font-size: 1.2em;
  letter-spacing: -0.14em;
  color: #293c41;
  text-align: center;
  padding: 35px;
  padding-bottom: 5px;
}


#banner {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

#banner_image {
  width: 37.7vw;
  justify-content: left;
  display: block;
}


#call_to_action {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#call_to_action > a > .button {
  border: none;
  width: 190px;
  border-radius: 60px;
  height: 50px;
  font-size: 1em;
  margin: 12px;
  background-color: #7e989e;
  color: #c2d3d6;
  font-family: helvetica;
  font-weight: 600;
  box-shadow: #232d2f 0px 0px 60vw;
  box-shadow: #232d2f27 0px 0px 2vw;
}

#call_to_action > h1, h2 {
  font-size: 11vw;
  letter-spacing: -0.07em;
  padding-right: 15px;
  color: #293c41;
}

#call_to_action > h2 {
  font-size: 2.7vw;
  padding-bottom: 12px;
}






.about_design_section {
  width: calc(100%-44px);
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: auto;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

h2 {
  font-size: 2em;
  font-weight: 600;
}

h3 {
  font-size: 0.75em;
  color: rgb(183, 183, 183);
  font-weight: 600;
}

.about_design_section > h2 {
  margin-bottom: -27px;
}

#middle {
  height: 300px;
}





footer {
  background-color: #49646b;
  margin: 200px 35px 0 35px;
  padding: 20px 50px 0 50px;
  height: 170px;
}

footer > h1 {
  margin: 35px;
  letter-spacing: -0.07em;
  color: #293c41;
}

footer > p {
  font-family: helvetica;
  font-weight: 600;
  color: #3c5258;
  font-size: 0.75em;
  text-align: center;
  padding-top: 20px;
}

.review_section > h2 {
  text-align: center;
  margin-bottom: 80px;
  letter-spacing: -0.06em;
  color: #335a63;
  font-size: 2.5em;
  margin-right: -40px;
  margin-left: -40px;
}

.review_section {
  padding-left: 16%;
  padding-right: 16%;
  padding-top: 250px;
  padding-bottom: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review_box {
  display: flex;
  gap: 6%;
}

.left_review, .right_review {
  width: 50%;
}

.review_card {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 30px 30px 30px 30px;
  box-shadow: #49494919 0px 0px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55%;
}

.review_words {
  margin: 0;
  font-family: helvetica;
  font-size: 0.95em;
  line-height: 1.4em;
  font-size: 1rem;
  color: rgb(72, 72, 72);
  font-weight: 500;
}

.review_demographic {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding-top: 20px;
}

.review_demographic > * {
  margin: 0;
  padding: 6px 0 6px 0;
  font-family: helvetica;
  font-weight: 600;
}

.review_name {
  font-size: 1.1em;
}

.review_role {
  font-weight: 400;
  color: gray;
  font-size: 0.7rem;
}


.stars_rating {
  display: flex;
  width: 100px;
  justify-content: space-between;
  margin-top: -18px;
  margin-bottom: -18px;
}

.stars_rating > img {
  width: 18px
}

.stars_rating > p {
  margin-left: 5px;
  font-weight: 400;
  font-size: 0.9em;
}

.review_section > a > .button {
  border: none;
  width: 130px;
  border-radius: 50px;
  height: 35px;
  font-size: .75em;
  margin-top: 110px;
  background-color: #f0f0f0;
  color: #939393;
  font-family: helvetica;
  font-weight: 600;

}


@media (max-width: 990px) {
  .review_words {
  font-size: 0.85em;
  }
}

@media (max-width: 558px) {
  .review_words {
  font-size: 0.75em;
  }
  .review_section > h2 {
    font-size: 2.05em;
  }
  
}


@media (min-width: 768px) {
  #header {
  min-height: 760px;
  }
}


@media (max-width: 768px) {
  #header {
    height: 65vh;
    min-height: 500px;
  }

  #call_to_action > a > .button {
    width: 24vw;
    height: 38px;
    font-size: 0.8em
  }

  .review_section {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .review_words {
    font-weight: 0.4em
  }

} 


@media (max-width: 425px) {
  #header {
    height: 100%;
    justify-content: flex-start;
    gap: 20px;
  }
  
  #banner {
    flex-direction: column;
  }

  #banner_image {
    width: calc(100% - 100px);
    padding-right: 100px;
  }

  #call_to_action {
    width: 100%;
    padding-bottom: 50px;
  }

  #call_to_action > h1 {
    font-size: 5em;
    padding-bottom: 15px;
  }

  #call_to_action > h2 {
    font-size: 1.4em;
    padding-top: 1em;
    padding-bottom: 0;
  }

  #call_to_action > a > .button {
    width: 160px;
    height: 40px;
    font-size: 0.9em;
  }

  .about_design_section {
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .about_design_section > h2 {
    margin-bottom: -15px;
    font-size: 1.6em;
  }

  .about_design_section > h3 {
    font-size: 0.65em;
    color: rgb(183, 183, 183);
    font-weight: 600;
    margin-top: 4px;
  }

  footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
  }

  footer > h1 {
    letter-spacing: -0.07em;
    color: #293c41;
    margin: 0;
  }
  
  footer > p {
    font-family: helvetica;
    font-weight: 600;
    color: #3c5258;
    font-size: 0.75em;
    text-align: center;
  }

  .review_box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }

  .left_review, .right_review {
    width: 80%;
  }

  .review_words {
    font-size: 0.9em;
    }

}

@media (max-width: 320px) {
  #call_to_action > h2 {
    font-size: 1.2em;

  }

  #header {
    height: 39rem;
  }
}
