/* * {
  border: .1px solid red;
} */

body {
  margin: 0;
  padding: 0;
}

#header {
  font-family: helvetica;
  background-color: #ffffff;
  color: #000000;
  background-image: url('./images/background_image_3.png');
  background-size: cover;
  background-position: center;
  background-repeat: none;
  height: 100vh;
}

.header-logo {
  font-size: 1.2em;
  letter-spacing: -0.14em;
  color: #293c41;
  text-align: center;
  padding: 35px;
  padding-bottom: 5px;
}


#banner {
  display: flex;
}

#banner_image {
  width: 37.7vw;
  justify-content: left;
  display: block;
}


#call_to_action {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#call_to_action > a > .button {
  border: none;
  width: 16vw;
  border-radius: 60px;
  height: 3.3vw;
  font-size: 1.1vw;
  background-color: #7e989e;
  color: #c2d3d6;
  font-family: helvetica;
  font-weight: 600;
  box-shadow: #232d2f 0px 0px 60vw;
  box-shadow: #232d2f27 0px 0px 2vw;
}

#call_to_action > h1, h2 {
  font-size: 11vw;
  letter-spacing: -0.07em;
  padding-right: 15px;
  color: #293c41;
}

#call_to_action > h2 {
  font-size: 2.7vw;
  padding-bottom: 12px;
}



@media (max-width: 1300px) {
  #header {
    height: 100%;
    padding-bottom: 100px;
  }

  #call_to_action > a > .button {
    width: 17vw;
    height: 40px;
    font-size: 0.9em;
  }

}


@media (max-width: 845px) {
  #call_to_action > h1 {
    font-size: 12vw;
  }

  #call_to_action > a > .button {
    width: 25vw;
    height: 40px;
    font-size: 0.9em;
  }
}


@media (max-width: 500px) {
  #header {
    height: 100vh;
    padding-bottom: 0px;
  }
  
  #banner {
    flex-direction: column; /* Stack vertically */
    align-items: center;     /* Optional: center stacked items */
  }

  #banner_image {
    width: calc(100% - 100px);
    margin-top: -30px;
    margin-bottom: -10px;
    padding-right: 100px;
  }

  #call_to_action {
    width: 100%;
    justify-content: center;
  }

  #call_to_action > h1 {
    font-size: 5em;
    padding-bottom: 15px;
  }

  #call_to_action > a > .button {
    width: 160px;
    height: 40px;
    font-size: 0.9em;
  }
}











.about_design_section {
  width: calc(100%-44px);
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: auto;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

h2 {
  font-size: 2em;
  font-weight: 600;
}

h3 {
  font-size: 0.75em;
  color: rgb(183, 183, 183);
  font-weight: 600;
}

.about_design_section > h2 {
  margin-bottom: -27px;
}

#middle {
  height: 300px;
}






footer {
  background-color: #49646b;
  margin: 200px 35px 0 35px;
  padding: 20px 50px 0 50px;
  height: 170px;
}

footer > h1 {
  margin: 35px;
  letter-spacing: -0.07em;
  color: #293c41;
}

footer > p {
  font-family: helvetica;
  font-weight: 600;
  color: #3c5258;
  font-size: 0.75em;
  text-align: center;
  padding-top: 20px;
}